CREATE DATABASE CHTS
CREATE TABLE Account
(
Id CHAR(20) NOT NULL PRIMARY KEY,
Username NCHAR(50)NOT NULL ,
PassWord_ NVARCHAR(50)NOT NULL,
)
CREATE TABLE Menu
(
Masp CHAR(10) NOT NULL PRIMARY KEY,
Tensp nvarchar(100) NOT NULL,
Giatien FLOAT,
Mota NVARCHAR(100),

)
CREATE TABLE Ban
(
Maban CHAR(10) NOT NULL PRIMARY KEY,
Trangthai NVARCHAR(30) CHECK (Trangthai = N'Trống' OR Trangthai = N'Đã có người'),
)
CREATE TABLE NhanVien
(
Manv CHAR(10) NOT NULL PRIMARY KEY,
Tennv NVARCHAR(30) NOT NULL,
Diachi NVARCHAR(30) NOT NULL,
Sdt CHAR(11) NOT NULL,
Gt NVARCHAR(30) CHECK(Gt = N'Nam' OR Gt = 'Nữ'),
Ngaysinh DATE,
Chucvu NVARCHAR(30),
)
CREATE TABLE Khach
(
Mak CHAR(10) NOT NULL PRIMARY KEY,
Tenk NVARCHAR(30) NOT NULL,
Diachi NVARCHAR(30) NOT NULL,
Sdt CHAR(11) NOT NULL,
Gt NVARCHAR(30) CHECK(Gt = N'Nam' OR Gt = 'Nữ'),
Ngaysinh DATE,
)
CREATE TABLE HoaDon
(
MaHd CHAR(10) NOT NULL PRIMARY KEY,
Masp CHAR(10) NOT NULL, 
Manv CHAR(10) NOT NULL,
Mak CHAR(10) NOT NULL,
FOREIGN KEY (Manv) REFERENCES NhanVien(Manv),
FOREIGN KEY (Mak) REFERENCES Khach(Mak),
FOREIGN KEY (Masp) REFERENCES dbo.Menu(Masp),
Ngayban date,
Tongtien float,
)
CREATE TABLE chitiethd
(
MaHd CHAR(10) NOT NULL,
Masp CHAR(10) NOT NULL,
Solương INT ,
Dongia FLOAT ,
KhuyenMai FLOAT,
PRIMARY KEY (MaHd,Masp),
FOREIGN KEY (MaHd) REFERENCES dbo.HoaDon(MaHd),
FOREIGN KEY (Masp) REFERENCES dbo.Menu(Masp),
)
CREATE TABLE KhoHang
(
Masp CHAR(10) NOT NULL ,
Ngaynhaphang DATE ,
sluongnhap INT ,
slton INT ,
Gianhap FLOAT,
MaNCC CHAR(10) NOT NULL,
PRIMARY KEY (Masp,MaNCC),
FOREIGN KEY (Masp) REFERENCES dbo.Menu(Masp),
FOREIGN KEY (MaNCC) REFERENCES Nhacc(MaNCC),
)
CREATE TABLE Nhacc
(
MaNCC CHAR(10) NOT NULL PRIMARY KEY,
TenNCC NVARCHAR(30) NOT NULL,
sdt CHAR(20) NOT NULL,
Diachi NVARCHAR(30) NOT NULL,
Website NVARCHAR(30) ,
)